USE [master]
GO
/****** Object:  Database [Db_MPCDF]    Script Date: 12/26/2024 6:14:39 PM ******/
CREATE DATABASE [Db_MPCDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Db_MPCDF', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Db_MPCDF.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Db_MPCDF_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Db_MPCDF_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Db_MPCDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Db_MPCDF]
GO
/****** Object:  User [TESTING-SERVER\dbsync]    Script Date: 12/26/2024 6:14:40 PM ******/
CREATE USER [TESTING-SERVER\dbsync] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[mst_DugdhSangh]    Script Date: 12/26/2024 6:14:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_DugdhSangh](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SanghName] [varchar](50) NOT NULL,
	[SanghCode] [varchar](5) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedByIp] [varchar](15) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedByIp] [varchar](15) NULL,
	[DeletedOn] [datetime] NULL,
	[DeletedByIp] [varchar](15) NULL,
	[IsActive] [bit] NULL,
	[IsDelete] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_Item]    Script Date: 12/26/2024 6:14:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_Item](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [varchar](50) NULL,
	[ItemCategory] [varchar](50) NULL,
	[ItemCode] [varchar](5) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedByIp] [varchar](15) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedByIp] [varchar](15) NULL,
	[IsDelete] [bit] NULL,
	[DeletedOn] [datetime] NULL,
	[DeletedByIp] [varchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trnFormData]    Script Date: 12/26/2024 6:14:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trnFormData](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SanghCode] [varchar](5) NOT NULL,
	[ItemCode] [varchar](5) NOT NULL,
	[CurrentYear] [varchar](7) NOT NULL,
	[CurrentMonth] [tinyint] NOT NULL,
	[CurntQty] [decimal](18, 2) NULL,
	[CurntTarget] [decimal](18, 2) NULL,
	[Cumulative] [decimal](18, 2) NULL,
	[LYTarget] [decimal](18, 2) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedByIp] [varchar](15) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedByIp] [varchar](15) NULL,
	[IsDelete] [bit] NULL,
	[DeletedOn] [datetime] NULL,
	[DeletedByIp] [varchar](15) NULL,
	[CumulativeAchievement] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[mst_DugdhSangh] ON 

INSERT [dbo].[mst_DugdhSangh] ([ID], [SanghName], [SanghCode], [CreatedOn], [CreatedByIp], [UpdatedOn], [UpdatedByIp], [DeletedOn], [DeletedByIp], [IsActive], [IsDelete]) VALUES (1, N'Bhopal', N'BPL', CAST(N'2024-11-28T18:14:30.460' AS DateTime), N'::1', CAST(N'2024-12-13T11:06:37.420' AS DateTime), N'122.168.189.90', NULL, NULL, 1, 0)
INSERT [dbo].[mst_DugdhSangh] ([ID], [SanghName], [SanghCode], [CreatedOn], [CreatedByIp], [UpdatedOn], [UpdatedByIp], [DeletedOn], [DeletedByIp], [IsActive], [IsDelete]) VALUES (2, N'Indore', N'IND', CAST(N'2024-11-28T18:14:30.460' AS DateTime), N'::1', NULL, NULL, NULL, NULL, 1, 0)
INSERT [dbo].[mst_DugdhSangh] ([ID], [SanghName], [SanghCode], [CreatedOn], [CreatedByIp], [UpdatedOn], [UpdatedByIp], [DeletedOn], [DeletedByIp], [IsActive], [IsDelete]) VALUES (3, N'Ujjain', N'UJN', CAST(N'2024-11-28T18:14:30.460' AS DateTime), N'::1', NULL, NULL, NULL, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[mst_DugdhSangh] OFF
GO
SET IDENTITY_INSERT [dbo].[mst_Item] ON 

INSERT [dbo].[mst_Item] ([ItemID], [ItemName], [ItemCategory], [ItemCode], [IsActive], [CreatedOn], [CreatedByIp], [UpdatedOn], [UpdatedByIp], [IsDelete], [DeletedOn], [DeletedByIp]) VALUES (1, N'STD (lit)', N'Milk', N'AB101', 1, CAST(N'2024-11-27T18:08:12.980' AS DateTime), N'::1', CAST(N'2024-11-28T17:56:33.577' AS DateTime), N'::1', 1, CAST(N'2024-11-28T17:58:00.820' AS DateTime), N'::1')
INSERT [dbo].[mst_Item] ([ItemID], [ItemName], [ItemCategory], [ItemCode], [IsActive], [CreatedOn], [CreatedByIp], [UpdatedOn], [UpdatedByIp], [IsDelete], [DeletedOn], [DeletedByIp]) VALUES (2, N'DTM (lit)', N'Milk', N'AB102', 1, CAST(N'2024-11-27T18:08:12.980' AS DateTime), N'::1', CAST(N'2024-11-27T18:08:12.980' AS DateTime), NULL, 1, CAST(N'2024-11-28T17:58:02.873' AS DateTime), N'::1')
INSERT [dbo].[mst_Item] ([ItemID], [ItemName], [ItemCategory], [ItemCode], [IsActive], [CreatedOn], [CreatedByIp], [UpdatedOn], [UpdatedByIp], [IsDelete], [DeletedOn], [DeletedByIp]) VALUES (3, N'LITE  (lit)', N'Milk', N'AB103', 1, CAST(N'2024-11-27T18:08:12.980' AS DateTime), N'::1', CAST(N'2024-11-27T18:08:12.980' AS DateTime), NULL, 1, CAST(N'2024-11-28T17:58:04.520' AS DateTime), N'::1')
SET IDENTITY_INSERT [dbo].[mst_Item] OFF
GO
SET IDENTITY_INSERT [dbo].[trnFormData] ON 

SET IDENTITY_INSERT [dbo].[trnFormData] OFF
GO
ALTER TABLE [dbo].[mst_DugdhSangh] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[mst_Item] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[mst_Item] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[mst_Item] ADD  DEFAULT (getdate()) FOR [UpdatedOn]
GO
ALTER TABLE [dbo].[mst_Item] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[mst_Item] ADD  DEFAULT (getdate()) FOR [DeletedOn]
GO
ALTER TABLE [dbo].[trnFormData] ADD  DEFAULT ((0)) FOR [CurntQty]
GO
ALTER TABLE [dbo].[trnFormData] ADD  DEFAULT ((0)) FOR [CurntTarget]
GO
ALTER TABLE [dbo].[trnFormData] ADD  DEFAULT ((0)) FOR [Cumulative]
GO
ALTER TABLE [dbo].[trnFormData] ADD  DEFAULT ((0)) FOR [LYTarget]
GO
ALTER TABLE [dbo].[trnFormData] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[trnFormData] ADD  DEFAULT (getdate()) FOR [UpdatedOn]
GO
ALTER TABLE [dbo].[trnFormData] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[trnFormData] ADD  DEFAULT ((0)) FOR [CumulativeAchievement]
GO
ALTER TABLE [dbo].[trnFormData]  WITH CHECK ADD CHECK  (([CurrentMonth]>=(1) AND [CurrentMonth]<=(12)))
GO
/****** Object:  StoredProcedure [dbo].[GetItemsByCategory]    Script Date: 12/26/2024 6:14:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE  proc  [dbo].[GetItemsByCategory]
  @ItemCategory varchar(50) =null
  as
  begin
  declare @status bit=0 ,@msg varchar(100)=null
  BEGIN TRY
        SELECT [ItemName] [Name],ItemCode [Id] FROM [mst_Item] 
        WHERE ([ItemCategory] = @ItemCategory OR @ItemCategory IS NULL  )
		AND IsActive=1 and IsDelete!=1

		SELECT	@status =1 ,@msg='Item Name selected Successfully'	 
		SELECT	@status [status] ,@msg [msg]
	END TRY
    BEGIN CATCH          
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
		SELECT	@status [status] ,@msg [msg]
    END CATCH;
  end
GO
/****** Object:  StoredProcedure [dbo].[usp_AddFormData]    Script Date: 12/26/2024 6:14:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc  [dbo].[usp_AddFormData]
	@SanghCode				Varchar(5)  ,
	@ItemCode				Varchar(5),
	@CurrentYear			VARCHAR(7)  ,
	@CurrentMonth			TINYINT ,
	@CurntQty				Decimal(18,2) ,
	@CurntTarget			Decimal(18,2),
	@Cumulative				Decimal(18,2) ,
	@LYTarget				Decimal(18,2) ,
	@CumulativeAchievement  Decimal(18,2) ,
	@CreatedByIp			varchar(15)     
  as
  begin
	declare 
	@status bit=0 ,
	@msg varchar(100)=null
	
	BEGIN TRY
		BEGIN TRANSACTION
		
		insert into trnFormData(
		SanghCode		
		,ItemCode		
		,CurrentYear	
		,CurrentMonth	
		,CurntQty		
		,CurntTarget	
		,Cumulative		
		,LYTarget	
		,CumulativeAchievement
		,CreatedByIp
		,CreatedOn
		)
		values (
		 @SanghCode		
		,@ItemCode		
		,@CurrentYear	
		,@CurrentMonth	
		,@CurntQty		
		,@CurntTarget	
		,@Cumulative		
		,@LYTarget
		,@CumulativeAchievement
		,@CreatedByIp
		,getdate())

		SELECT	@status =1 ,@msg='Record Saved Successfully'	 	
		
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	
	END CATCH;
	SELECT @status AS [status], @msg AS [msg];
  end

GO
/****** Object:  StoredProcedure [dbo].[usp_AddItem]    Script Date: 12/26/2024 6:14:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc  [dbo].[usp_AddItem]

	@ItemName 				varchar(50),
	@ItemCategory			varchar(50),
	@ItemCode				varchar(5),
	@IsActive				bit,
	@CreatedByIp			varchar(15)     
  as
  begin
	declare 
	@status bit=0 ,
	@msg varchar(100)=null
	
	BEGIN TRY
		BEGIN TRANSACTION
		if not exists(select 1 from mst_Item where ItemCode =@ItemCode)
		begin
		insert into mst_Item(
				 ItemName
				,ItemCategory
				,ItemCode
				,IsActive
				,CreatedByIp		
				)
				values (
				@ItemName 		
				,@ItemCategory	
				,@ItemCode		
				,@IsActive		
				,@CreatedByIp
				)

		SELECT	@status =1 ,@msg='Record Saved Successfully'	 	
		end
		else
		begin
		set @status =0 
		set @msg='Record Already Exists'	
		end
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	
	END CATCH;
	SELECT @status AS [status], @msg AS [msg];
  end

GO
/****** Object:  StoredProcedure [dbo].[usp_AddSangh]    Script Date: 12/26/2024 6:14:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc  [dbo].[usp_AddSangh]
	@SanghName  varchar(50),
	@SanghCode	varchar(5),
	@CreatedByIp varchar(15),
	@IsActive   bit
  as
  begin
  declare @status bit=0 ,@msg varchar(100)=null
  BEGIN TRY
		if not exists(select 1 from mst_DugdhSangh where SanghCode =@SanghCode)
		begin

			insert into mst_DugdhSangh(SanghName,SanghCode,IsActive,CreatedByIp,CreatedOn)
			values(@SanghName,@SanghCode,@IsActive,@CreatedByIp,GETDATE())
     

			set 	@status =1 
			set @msg='Record Saved Successfully'	 
			
		end
		else
		begin
			set @status =0 
			set @msg='Record Already Exists'	
		end
	END TRY
    BEGIN CATCH          
		set @status =0 
		set @msg=ERROR_MESSAGE()	 
		
    END CATCH;
	SELECT	@status [status] ,@msg [msg]
  end
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteFormData]    Script Date: 12/26/2024 6:14:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_DeleteFormData]
	@Id						int,
    @DeletedByIp            VARCHAR(15)
AS
BEGIN
    DECLARE 
        @status BIT = 0,
        @msg VARCHAR(100) = NULL;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Update statement to update existing records
        UPDATE trnFormData
        SET   
			IsDelete=1,
			DeletedByIp= @DeletedByIp,
			DeletedOn=GETDATE()
        WHERE ID=@Id
                   
            SET @status = 1;
            SET @msg = 'Record Deleted Successfully';
       

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT @status = 0, @msg = ERROR_MESSAGE();
    END CATCH;

    SELECT @status AS [status], @msg AS [msg];
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteItem]    Script Date: 12/26/2024 6:14:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc  [dbo].[usp_DeleteItem]
	@ItemID					int,
	@DeletedByIp			varchar(15)     
  as
  begin
	declare 
	@status bit=0 ,
	@msg varchar(100)=null
	
	BEGIN TRY
		BEGIN TRANSACTION
		update  mst_Item
			set IsActive=0
			,IsDelete=1
				,DeletedByIp	=@DeletedByIp
				,DeletedOn	   	=GETDATE()
				where ItemID=@ItemID

		SELECT	@status =1 ,@msg='Record Deleted Successfully'	 	
		
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	
	END CATCH;
	SELECT @status AS [status], @msg AS [msg];
  end

GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteSangh]    Script Date: 12/26/2024 6:14:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc  [dbo].[usp_DeleteSangh]
	@id				int,
	@DeletedByIp	varchar(15)
	
  as
  begin
  declare @status bit=0 ,@msg varchar(100)=null
  BEGIN TRY
	update mst_DugdhSangh
		set	IsActive=0
		,IsDelete		=1
		,DeletedByIp		=@DeletedByIp
		,DeletedOn		=GETDATE()
	where ID=@id
  
		SELECT	@status =1 ,@msg='Record Deleted Successfully'	 
		SELECT	@status [status] ,@msg [msg]
	END TRY
    BEGIN CATCH          
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
		SELECT	@status [status] ,@msg [msg]
    END CATCH;
  end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetAllDugdhSanghs]    Script Date: 12/26/2024 6:14:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc  [dbo].[Usp_GetAllDugdhSanghs]
  as
  begin
  declare @status bit=0 ,@msg varchar(100)=null
  BEGIN TRY
        SELECT  
			ID
			,SanghName
			,SanghCode
			,IsActive
		FROM mst_DugdhSangh 
        WHERE  isnull(IsDelete,0)!=1
		order by CreatedOn desc

		SELECT	@status =1 ,@msg='Sangh Name selected Successfully'	 
		SELECT	@status [status] ,@msg [msg]
	END TRY
    BEGIN CATCH          
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
		SELECT	@status [status] ,@msg [msg]
    END CATCH;
  end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetDugdhSangh]    Script Date: 12/26/2024 6:14:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE  proc  [dbo].[Usp_GetDugdhSangh]
@SanghCode varchar(5) =null
  as
  begin
  declare @status bit=0 ,@msg varchar(100)=null
  BEGIN TRY
        SELECT SanghName [Name],SanghCode [Id] FROM mst_DugdhSangh 
        WHERE (@SanghCode IS NULL OR SanghCode = @SanghCode)
		and IsActive=1 and isnull(IsDelete,0)!=1

		SELECT	@status =1 ,@msg='Sangh Name selected Successfully'	 
		SELECT	@status [status] ,@msg [msg]
	END TRY
    BEGIN CATCH          
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
		SELECT	@status [status] ,@msg [msg]
    END CATCH;
  end


GO
/****** Object:  StoredProcedure [dbo].[Usp_GetFormData]    Script Date: 12/26/2024 6:14:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc  [dbo].[Usp_GetFormData]
	@CurrentYear varchar(7)=null,
	@CurrentMonth tinyint=null
  as
  begin
  declare @status bit=0 ,@msg varchar(100)=null
  BEGIN TRY
        if (@CurrentYear='')
			BEGIN
			 select @CurrentYear=null;
			END
		if (@CurrentMonth>12or @CurrentMonth<1)
			BEGIN
			 select @CurrentMonth=null;
			END
		SELECT 
			fd.Id,
			fd.ItemCode,
			i.ItemName, 
			fd.SanghCode,
			ds.SanghName,
			CurrentYear,
			DateName(month, DateAdd(month, CurrentMonth, -1)) AS CurrentMonth,
			CurntQty,
			CurntTarget,
			Cumulative,
			CumulativeAchievement,
			convert(decimal(18,2),((CumulativeAchievement / CurntTarget) * 100)) AS Achievement,
			LYTarget,
			convert(decimal(18,2),(((CumulativeAchievement-LYTarget)/LYTarget) * 100)) AS Growth,
			convert(decimal(18,2),((CumulativeAchievement/LYTarget) * 100)-100) AS Growth2
		FROM 
			trnFormData AS fd
		INNER JOIN 
			mst_DugdhSangh AS ds ON ds.SanghCode = fd.SanghCode and ds.IsActive=1 
		INNER JOIN 
			mst_Item AS i ON i.ItemCode = fd.ItemCode and i.IsActive=1 
			where (fd.CurrentYear= @CurrentYear or @CurrentYear is null)and (fd.CurrentMonth=@CurrentMonth or @CurrentMonth is null)
			and  isnull(fd.IsDelete,0)!=1
			order by fd.CreatedOn


		SELECT	@status =1 ,@msg='Sangh Name selected Successfully'	 
		SELECT	@status [status] ,@msg [msg]
	END TRY
    BEGIN CATCH          
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
		SELECT	@status [status] ,@msg [msg]
    END CATCH;
  end
GO
/****** Object:  StoredProcedure [dbo].[usp_GetItems]    Script Date: 12/26/2024 6:14:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc  [dbo].[usp_GetItems]
  as
  begin
	declare 
	@status bit=0 ,
	@msg varchar(100)=null
	
	BEGIN TRY
		BEGIN TRANSACTION
		select ItemID
			,ItemName
			,ItemCategory
			,ItemCode
			,IsActive 
		from mst_Item 
		where IsDelete!=1

		SELECT	@status =1 ,@msg='Record selected Successfully'	 	
		
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	
	END CATCH;
	SELECT @status AS [status], @msg AS [msg];
  end



GO
/****** Object:  StoredProcedure [dbo].[Usp_RptFormData]    Script Date: 12/26/2024 6:14:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc  [dbo].[Usp_RptFormData]
	@SanghCode varchar(5)=null,
	@ItemCode  varchar(5)=null,
	@CurrentYear varchar(7)=null,
	@CurrentMonth tinyint=null
  as
  begin
  declare @status bit=0 ,@msg varchar(100)=null
  BEGIN TRY
        if (@SanghCode='')
			BEGIN
			 select @SanghCode=null;
			END
		  if (@ItemCode='')
			BEGIN
			 select @ItemCode=null;
			END
		if (@CurrentYear='')
			BEGIN
			 select @CurrentYear=null;
			END
		if (@CurrentMonth>12or @CurrentMonth<1)
			BEGIN
			 select @CurrentMonth=null;
			END
		SELECT 
			fd.Id,
			fd.ItemCode,
			i.ItemName, 
			fd.SanghCode,
			ds.SanghName,
			CurrentYear,
			DateName(month, DateAdd(month, CurrentMonth, -1)) AS CurrentMonth,
			CurntQty,
			CurntTarget,
			Cumulative,
			CumulativeAchievement,
			convert(decimal(18,2),((CumulativeAchievement / CurntTarget) * 100)) AS Achievement,
			LYTarget,
			convert(decimal(18,2),(((CumulativeAchievement-LYTarget)/LYTarget) * 100)) AS Growth
		FROM 
			trnFormData AS fd
		INNER JOIN 
			mst_DugdhSangh AS ds ON ds.SanghCode = fd.SanghCode and ds.IsActive=1 
		INNER JOIN 
			mst_Item AS i ON i.ItemCode = fd.ItemCode and i.IsActive=1 
			where	
				(fd.CurrentYear= @CurrentYear or @CurrentYear is null)
			and (fd.CurrentMonth=@CurrentMonth or @CurrentMonth is null)
			and (fd.SanghCode=@SanghCode or @SanghCode is null)
			and (fd.ItemCode=@ItemCode or @ItemCode is null)
			and fd.IsDelete!=1
			order by fd.CreatedOn


		SELECT	@status =1 ,@msg='Sangh Name selected Successfully'	 
		SELECT	@status [status] ,@msg [msg]
	END TRY
    BEGIN CATCH          
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	 
		SELECT	@status [status] ,@msg [msg]
    END CATCH;
  end
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateFormData]    Script Date: 12/26/2024 6:14:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROC [dbo].[usp_UpdateFormData]
	@Id						int,
    @SanghCode              VARCHAR(5),
    @ItemCode               VARCHAR(5),
    @CurrentYear            VARCHAR(7),
    @CurrentMonth           TINYINT,
    @CurntQty               DECIMAL(18,2),
    @CurntTarget            DECIMAL(18,2),
    @Cumulative             DECIMAL(18,2),
    @LYTarget               DECIMAL(18,2),
    @CumulativeAchievement  DECIMAL(18,2),
    @UpdatedByIp            VARCHAR(15)
AS
BEGIN
    DECLARE 
        @status BIT = 0,
        @msg VARCHAR(100) = NULL;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Update statement to update existing records
        UPDATE trnFormData
        SET   
			SanghCode = @SanghCode,
			ItemCode = @ItemCode,
			CurrentYear = @CurrentYear,
			CurrentMonth = @CurrentMonth,
			CurntQty = @CurntQty,
			CurntTarget = @CurntTarget,
			Cumulative = @Cumulative,
			LYTarget = @LYTarget,
			CumulativeAchievement = @CumulativeAchievement,
			UpdatedByIp = @UpdatedByIp,
			UpdatedOn=GETDATE()
        WHERE ID=@Id
           
        
            SET @status = 1;
            SET @msg = 'Record Updated Successfully';
       

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT @status = 0, @msg = ERROR_MESSAGE();
    END CATCH;

    SELECT @status AS [status], @msg AS [msg];
END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateItem]    Script Date: 12/26/2024 6:14:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc  [dbo].[usp_UpdateItem]
	@ItemID					int,
	@ItemName 				varchar(50),
	@ItemCategory			varchar(50),
	@ItemCode				varchar(5),
	@IsActive				bit,
	@UpdatedByIp			varchar(15)     
  as
  begin
	declare 
	@status bit=0 ,
	@msg varchar(100)=null
	
	BEGIN TRY
		BEGIN TRANSACTION
		if not exists(select 1 from mst_Item where ItemCode =@ItemCode and ItemID!=@ItemID)
		begin
		update  mst_Item
			set ItemName			=@ItemName 		
				,ItemCategory	    =@ItemCategory	
				,ItemCode		    =@ItemCode		
				,IsActive		    =@IsActive		
				,UpdatedByIp	    =@UpdatedByIp
				,UpdatedOn			=GETDATE()
				where ItemID=@ItemID

		SELECT	@status =1 ,@msg='Record updated Successfully'	 	
		end
		else
		begin
			set @status =0 
			set @msg='Record Already Exists'	
		end
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;
		SELECT	@status =0 ,@msg=ERROR_MESSAGE()	
	END CATCH;
	SELECT @status AS [status], @msg AS [msg];
  end

GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateSangh]    Script Date: 12/26/2024 6:14:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc  [dbo].[usp_UpdateSangh]
	@id				int,
	@SanghName		varchar(50),
	@SanghCode		varchar(5),
	@UpdatedByIp	varchar(15),
	@IsActive		bit
  as
  begin
  declare @status bit=0 ,@msg varchar(100)=null
  BEGIN TRY

		if not exists(select 1 from mst_DugdhSangh where SanghCode =@SanghCode and ID !=@id)
			begin

				update mst_DugdhSangh
				set  SanghName		=@SanghName
				,SanghCode		=@SanghCode
				,IsActive			=@IsActive
				,UpdatedByIp		=@UpdatedByIp
				,UpdatedOn		=GETDATE()
				where ID=@id
  
				set	@status =1 
				set @msg='Record Updated Successfully'	 
			
			end
		else
			begin
				set @status =0 
				set @msg='Record Already Exists'	
			end
	END TRY
    BEGIN CATCH          
		set	@status =0 
		set @msg=ERROR_MESSAGE()	 
		
    END CATCH;
	SELECT	@status [status] ,@msg [msg]
  end
GO
USE [master]
GO
