<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<connectionStrings>
	<add name="Conndb" connectionString="Data Source=182.70.255.182;Initial Catalog=Db_MPCDF;User ID=sa;Password=Dash@50%e#21" providerName="System.Data.SqlClient"/>
</connectionStrings>
    <system.web>
        <authentication mode="Windows" />
        <identity impersonate="false" />
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Home.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
